.scroll-top-button
	display block
	position fixed
	z-index 100
	bottom 50px
	right 50px
	size(50px)
	background color-yellow
	color #000
	text-align center
	border-radius 50%
	box-shadow 0 2px 10px #000
	cursor pointer
	&:before
		font-size 20px
		line-height 50px