.features-list
	display block
	&__item
		padding-top 50px
		text-align center
		&-title
			margin-top 50px
			font-weight 500
			font-size 30px
			color color-yellow
			text-transform Capitalize
		&-subtitle
			font-size 22px
			color #fff
			margin-top 15px