mixin contact-us()
	+b.contact-us&attributes(attributes)
		.container
			.row
				.col-md-5.wow.fadeInLeft
					+title
						| Have You Any Question <br/> About Us?
					+p('_priority-1')
							| Any kind of business solution and consultion don’t hesitate to contact with us for imiditate customer support. We are love to hear from you
					+p
							| <b>Phone & Email</b>: For any information contact with us through our <a href=''>Email</a> and you can also contact with directe by call us in this number <b class='_semi'>(+880) 1723801729</b>
					+p
							|	<b> Office Hours </b>: We are alwyes open excpet saturday & Sunday from <b class='_semi'>10:00am</b> to <b class='_semi'>8:00pm</b>
				.col-md-7.wow.fadeInRight
					+title
						|	Contact Now!!
					+form
		block
