.social-fa-list
	display inline-block
	&__item
		position relative
		font-size 18px
		border 2px solid #fff
		color #fff
		border-radius 50%
		size(35px)
		text-align center
		transition .2s
		margin-left 5px
		&:first-child
			margin-left 0
		&:before
			line-height 32px
		&:hover 
			background #FAC800
			border-color #FAC800
			color rgba(0, 0, 0, 1)
	&__link
		position absolute
		display block
		top 0
		left 0
		right 0
		bottom 0
	&_white-blue
		background alpha(color-blue, 0.87)
		padding 15px 0
		text-align center
		position absolute
		bottom -45%
		width 100%
		transition .5s
	&_tundora
		.social-fa-list__item
			border-radius 0
			border 1px solid tundora
			color tundora
			&:hover
				border-color color-yellow
				color mine-shaft