.dropdown
	display block
	visibility hidden
	position absolute
	left -20px
	top 100px
	background #fff
	width 200px
	&__item
		color #fff
		padding 0 10px
		border-bottom 1px solid #ddd
	&__item:last-child
		border none
	&__link.link
		color #999
		font-size 18px
		height 50px
		line-height 50px
		width 100%
		&:hover
			color #777
		&:active
			color #777
		&:visited
			color #777
		&:link
			color #777
		&:focus
		  color #777
		&:hover
			color #777