mixin member(data)
	+b('li').member&attributes(attributes)
		.relative.overflow-hidden
			+e('img').img&attributes({src: data.imgSrc})
			+social-fa-list(data.socialList, "_white-blue")
		+e('caption')
			+item-title
				| #{data.title}
			+item-subtitle
				| #{data.subtitle}
		block
