.member
	display block
	cursor pointer
	+m(770px)
		margin-bottom 56px
		text-align center
	.relative
		margin-bottom 25px
	&:hover
		.item-title
			color color-yellow
			transition .3s
		.social-fa-list
			bottom 0
