.slider-testimonials
	display block
	& .slick-dots
		position absolute
		left -100px
		li 
			display inline-block
			margin-right 5px
			&.slick-active
				button
					background color-yellow
					border-color color-yellow
		button
			font-size 0
			background transparent
			border 2px solid silver
			size(15px)
			border-radius 50%
			