.link
	color #014f98
	display inline-block
	&:hover
		text-decoration none
	&:active
		text-decoration none
	&:visited
		text-decoration none
	&:link
		text-decoration none
	&:focus
		text-decoration none