.slider-projects
	display block
	.slick-list
		margin-left -8px
		margin-right -8px
	.slick-slide img 
		margin 0 auto
	.slick-arrow
		position absolute
		top -120px
		background transparent
		border 1px solid dasty-gray
		color transparent
		font-size 0
		size(40px)
		&.slick-prev
			right 45px
			&:after
				content '<'
				color dasty-gray
				font-size 20px
		&.slick-next
			right 5px
			&:after
				content '>'
				color dasty-gray
				font-size 20px