mixin slider-projects(data)
	+b.slider-projects&attributes(attributes)
		for item in data
			+e('a').item&attributes({"data-category": item.category.toLowerCase(), href: '' })
				+e('img').item-img&attributes({src: item.src})
		block
