.social-list
	display inline-block
	&__item
		position relative
		font-size 18px
		border 2px solid #fff
		color #fff
		border-radius 50%
		size(35px)
		text-align center
		transition .2s
		margin-left 5px
		&:before
			line-height 32px
		&:hover 
			background #FAC800
			border-color #FAC800
			color rgba(0, 0, 0, 1)
	&__link
		position absolute
		display block
		top 0
		left 0
		right 0
		bottom 0