.title
	display block
	font-family roboto
	font-size 35px
	color #333
	font-weight 300
	line-height 1.3
	margin-bottom 40px
	&_color-white
		color #fff
	&_bold
		font-weight 800
	&_small
		font-size 28px