mixin counter-list(data, mixin)
	+b.counter-list&attributes({class: mixin})
		each item in data
			.col-md-3.col-sm-6
				+e.item
					+e.item-counter&attributes({"data-from": item.from, "data-to": item.to, "data-speed": data.speed})
					+e.item-plus +
					+e.item-title
						| #{item.title}
		block
