.contacts-fa-icons-list
	display block
	&__item
		display flex
		align-items flex-start
		margin-bottom 15px
		&-icon
			width: 15%
			&:before
				font-size 30px
				padding-right 10px
			color color-yellow
		&-title
			padding-top 5px
			width 85%
			color #fff
			font-weight 100
			font-size 18px
			