mixin team()
	+b.team.wow.fadeInUp&attributes(attributes)
		.container
			.row
				.col-md-3
					+title
						|	Our Experience Team
					+button({mod: "_blue"}) 
						| see all member
				.col-md-9
					+members-cap-img-list(getData('members-cap-img-list'))
		block
