mixin container()
	//
		=================================
		=            Container               
		=====================================
	+b.container&attributes(attributes)
		block
	
	//====  End of Contaienr ====//