.subscribe
	display block
	padding 70px 0 70px
	border-bottom 1px solid tundora
	position relative
	z-index 20
	.title
		+m(480px)
			font-size 30px
			text-align center
	&__form
		+m(480px)
			text-align center
		+m(480px)
			margin 0
		.input
			+m(1023px)
				margin-bottom 20px
		.button
			+m(480px)
				margin 20px 0 0
