.p
	display block
	margin 30px 0
	color tundora
	font-size 18px
	line-height 1.5
	font-family roboto
	font-weight 300
	&_color-lighted
		color lighten(tundora, 40%)
	&_color-white
		color #fff
	&_priority-1
		font-size 20px
	