.contact-item
	display inline-block
	clearfix()
	@media only screen and (max-width:768px) 
		padding 10px
	
	&__info
		float right
	&__icon-container
		float left
		margin-right 15px
		width 36px
		@media only screen and (max-width:1024px) 
			float none
			width 100%
			text-align center
	&__header
		color #fff
		font-size 20px
		margin 3px 0
	&__text
		color #888
		font-size 17px