/*==============================
=            Header            =
==============================*/

.header
	display block
	padding-top 0
	margin 30px 0 -2px
	background transparent
	position absolute
	top 0
	width 100%
	z-index 10
	@media only screen and (max-width:768px) 
		background #000
		position static
	&__right-bottom 
		position relative
	&__right-top
		margin-bottom 25px
	&__social-container
		margin-top 5px
		text-align right
		+m(995px)
			padding 10px 0 20px
			text-align center
		@media only screen and (max-width: 768px) 
			text-align center
			padding 40px 0 20px
		
	&__logo-container
		padding-top 22px
		+m(995px)
			width 100%
		+m(769px)
			text-align center
	&__contact-item-container
		@media only screen and (max-width: 768px) 
			text-align center
		

/*=====  End of Header  ======*/
